@import 'var.scss';
*{margin:0;padding:0;border:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-text-size-adjust:100%;}
html{height:100%;}
body{margin:0 auto;max-width:540px;overflow:hidden;font-size:$h2;color:$lightBlack;background:$bg;font-family:Arial,'Lucida Grande',Verdana,'Microsoft Yahei',STXihei,Sans-serif;user-select:none;}
a,img{text-decoration:none;-webkit-appearance:none;color:inherit;}
img.banner{display:block;width:100%;}
button,input,textarea,select{font:inherit;border:none;background:none;-webkit-appearance:none;}
button.dis{background:$gray!important;}
h1,h2,h3,h4,h5{font-size:100%;font-weight:400;}
ul li{list-style:none;}

.clearfix{overflow:hidden;zoom:1;}
.dis{pointer-events:none;}
.fl{float: left;}
.fr{float: right;}

.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: .22rem; height: .22rem;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: middle;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}

#app{position:relative;box-sizing:border-box;}
.container{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;overflow:hidden;}
.page-content{height:100%;overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;}

//mint-ui reset
.mint-spinner-triple-bounce div{background:$mainColor!important;}
.mint-switch-input:checked + .mint-switch-core{border-color:$mainColor!important;background-color:$mainColor!important;}
.mint-navbar.is-fixed{position:absolute!important;}
.mint-navbar .mint-tab-item.is-selected{color:$mainColor!important;border-color:$mainColor!important;}
.mint-radio-input:checked+.mint-radio-core{background-color:$mainColor!important;border-color:$mainColor!important;}
.mint-cell-wrapper{font-size:.14rem!important;height:.44rem!important;line-height:.44rem!important;background:none!important;border-bottom:$border;}
.mint-radiolist-label{padding:0!important;}
.mint-indicator-wrapper,.mint-indicator-mask{z-index: 9999!important;}
.mint-toast{z-index:9999!important;}

//swiper reset
.swiper-pagination-bullet-active{background: #fff!important;}

.sub{width:100%;line-height:.4rem;display:block;background:$mainColor;color:#fff;text-align:center;border-radius:5px;letter-spacing:.1rem;}
.card{margin:.15rem auto;border-radius:5px;background:#fff;}

// 左滑子页面
.subList{position:absolute;display:block;width:60%;left:auto;z-index:$middleFloor;transition:all .3s ease-out;}
.subList.moveout{-webkit-transform:translateX(100%);transform:translateX(100%);}

.list{border-top:$border;background:#fff;}
.list{li{display:block;padding:.14rem;border-bottom:$border;}
  li.loadmore{text-align:center;font-size:$h3;}}

// 4S店左滑子页面
.subList.fs{width:70%;
  .list li{padding:.1rem;padding-left:.6rem;position:relative;min-height:.4rem;
    img{position:absolute;top:.1rem;left:.1rem;width:.4rem;height:.4rem;}
    h1{span{font-size:$h4;color:$gray;margin-left:.05rem;}}
    p{font-size:$h4;color:$gray;}}}

.mpBox{background:$mainColor;margin:.1rem auto;width:94%;border-radius:5px;color:#fff;
  div{height:.9rem;padding:.15rem; box-sizing: border-box;
    h1{margin-bottom:.05rem;}
    p{font-size:.4rem;min-height:.34rem;}}
  ul{@include box;
    li{@include flex;padding:.1rem;height:.6rem;box-sizing: border-box;text-align:center;border-top:1px solid #fff;
      &:nth-of-type(2){border-left:1px solid #fff;border-right:1px solid #fff;}
      h2{margin-bottom:.04rem;text-align:center;}
      p{font-weight:600;min-height:.16rem;}}}}

.car-box{position:relative;background:#fff;font-size:.13rem;line-height:.2rem;margin-bottom:.07rem;height:.8rem;
  &.hasBtn{padding-right:.5rem;}
  .defaultCar{position:absolute;top:0;left:0;width:.36rem;}
  div{overflow: hidden;zoom:1;padding:.15rem 0;
    img:not(.defaultCar){width:.5rem;height:.5rem;float:left;display:block;margin:0 .2rem;}
    h2{color:$black;margin-bottom:.1rem;}
    p{width:64%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
  }
  button{position:absolute;right:0;top:0;width:.5rem;height:100%;background:url('~assets/img/icon-del.png') no-repeat center;background-size:.15rem .15rem;}}

.car-box.link{&::after{position:absolute;content:'';width:0;height:0;top:.34rem;right:.22rem;border:.08rem solid transparent;border-right:0;border-left-color:#fff;}
  &::before{position:absolute;content:'';width:0;height:0;top:.34rem;right:.2rem;border:.08rem solid transparent;border-right:0;border-left-color:#999;}}

.arrow-link{position: relative;
  &::after{position:absolute;content:'';width:0;height:0;right:.21rem;top:50%;margin-top:-.05rem;border:.05rem solid transparent;border-right:0;border-left-color:#fff;}
  &::before{position:absolute;content:'';width:0;height:0;right:.2rem;top:50%;margin-top:-.05rem;border:.05rem solid transparent;border-right:0;border-left-color:$gray;}
}

.arrow div{position:relative;
  &::after{position:absolute;content:'';width:0;height:0;top:.04rem;right:1px;border:.06rem solid transparent;border-right:0;border-left-color:#fff;}
  &::before{position:absolute;content:'';width:0;height:0;top:.04rem;right:0;border:.06rem solid transparent;border-right:0;border-left-color:#999;}}
.arrow.on div{&::before{border-left-color:$mainColor;}}
.on{color:$mainColor;}

.lc-error{width: 100%;height: 100%;overflow: hidden;@include box;@include flexDir(column);justify-content:center;text-align:center;
    img{width:.8rem;height:.8rem;margin:0 auto;}
    p{margin-top:.2rem;color:$gray;text-align: center;}
}

.nodata{padding:.15rem 0;color:$gray;text-align:center;}
.cover{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.6);z-index:$bottomFloor;}


.main-fn{@include box;margin:.08rem auto;background:#fff;padding:.14rem 0;font-size:.14rem;color: #000}
.main-fn{li{@include flex;text-align:center;}
  img{display:inline-block;height:.4rem;}}

.tiny-fn{@include box;padding-top:.06rem;
  img{display:block;width:20px;margin:0 auto .02rem;}
  a{@include flex;text-align:center;font-size:$h3;line-height:20px;}}

.other-fn{@include box;margin:.1rem 0;
  a{@include flex;text-align:center;background:#fff;padding:.1rem 0;border-bottom:$border;
    &:nth-of-type(2){border-left:$border;border-right:$border;}
    img{display:block;height:30px;width:30px;margin:0 auto 5px;}
    h2{color:black;text-align:center;}
    p{font-size:$h3;}}}



/*-------文本文档------- */
.page-content .doc{padding:.2rem;
  h1{font-weight: 600;}
  h1,p{margin-bottom: .1rem;line-height: .26rem;
    span{color:$mainColor;}
  }
  
}

/*-------微信邀请遮罩------- */
.invite-tip{display:block;position:fixed;top:0;left:0;right:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:9999;}


/*-------页面过渡------- */
.fade-enter{opacity:0;}
.fade-enter-active{transition:opacity .3s ease;}
.fade-leave-active{visibility:hidden;}

.slide-in-enter,.slide-out-enter{visibility:hidden;}
.slide-in-enter-active{animation:pageFromRightToCenter .4s forwards;}
.slide-in-leave-active{animation:pageFromCenterToLeft .4s forwards;}
.slide-out-enter-active{animation:pageFromLeftToCenter .4s forwards;}
.slide-out-leave-active{animation:pageFromCenterToRight .4s forwards;}

@keyframes pageFromRightToCenter{from{transform:translate3d(80%, 0, 0);}to{transform:translate3d(0, 0, 0);}}
@keyframes pageFromCenterToLeft{from{transform:translate3d(0, 0, 0);}to{transform:translate3d(-20%, 0, 0);}}
@keyframes pageFromLeftToCenter{from{transform:translate3d(-20%, 0, 0);}to{transform:translate3d(0, 0, 0);}}
@keyframes pageFromCenterToRight{from{transform:translate3d(0,0,0);}to{transform:translate3d(100%,0,0);}}



/*-------延迟显示------- */
.delayShow{animation:delayShow .8s linear;}
@keyframes delayShow{0%,50%{opacity:0;}100%{opacity:1;}}



/*-------底部按钮------- */
.nextOne{background:#fff;border-top:1px solid hsla(0,0%,93%,.6);height:.6rem;width:100%;
  .btn{display:block;width:90%;max-width:440px;background:$mainColor;text-align:center;line-height:.42rem;font-size:.155rem;font-weight:500;margin:.09rem auto;border-radius:5px;color:#fff;}
  .btn.dis{background:gray;}}

.nextTwo{width:100%;z-index:$topFloor;background:#fff;
  a{width:50%;display:block;height:.5rem;line-height:.5rem;@include bold;text-align:center;box-sizing:border-box;float:left;}
  a:nth-of-type(2){background:$mainColor;color:#fff;}
  a:nth-of-type(2).dis{background:gray;}}



/*-------注册登录------- */
.signUp{background:#fff;
  .login-logo{display:block;width:30%;margin:.6rem auto .4rem;}
  input{padding:.14rem;font-size:.14rem;height:.42rem;box-sizing:border-box;}
  .txt{display:block;background:#fff;width:2.5rem;margin:0 auto .16rem;position:relative;border-radius:5px;box-shadow:0 0 10px #D9D9D9;
    input{float:left;width:60%;margin:0;}
    #getCode{float:right;width:40%;font-size:$h3;line-height:.42rem;color:black;font-weight:600;text-align:center;}
    #getCode.dis{color:lightgray;font-weight:400;}}
  .next{display:block;color:#fff;width:2.5rem;box-sizing:initial;font-size:.155rem;border-radius:3px;margin:.3rem auto;line-height:.42rem;text-align:center;background:$mainColor;box-shadow:0 0 4px #eb6100;}}



/*-------商城------- */
.dingjin{padding-left:.3rem;background:url('~assets/img/mall/icon_detail_deposit.png') no-repeat left center;background-size:.27rem .13rem;}
.sth-link{background:#fff;
  .sth{float:left;border-bottom:$border;box-sizing:border-box;
    img{width:100%;display:block;}
    h1{@include txtOverflow;width:100%;color:$lightBlack;margin-top:.1rem;font-size:$h3;text-align:center;}}

  &.n3 .sth{width:33.3333%;border-left:$border;}
  &.n4 .sth{width:25%;border-left:$border;padding:.1rem;}
  &.n5 .sth{width:20%;height:.7rem;img{width:.45rem;margin:0 auto;}h1{font-size:$h4;margin-top: 0;}}}

.goods-list{padding:.05rem;

  .li{display:block;background:#fff;font-size:$h3;line-height:.2rem;
    div{
      h1{color:$black;width:100%;height:.4rem;overflow: hidden;}
      h2{color:$mainColor;font-size:$h2;position:relative;
        del{color:$gray;font-size:$h3;margin-left:.05rem;}
      }
      h3{font-size:$h3;span{color:$mainColor;}}
      p{color:$mainColor;@include txtOverflow;height:.2rem;}
    }
  }

  &.col1{background:#fff;padding:0;
    .li{margin-bottom:.05rem;overflow:hidden;zoom:1;border-bottom:$border;padding:.15rem .2rem;
      img{width:.8rem;height:.8rem;margin-right:.15rem;display:block;float:left;}
      div{float:left;width:2.4rem;}
    }
  }

  &.col1-big{
    .li{padding:.15rem;margin-bottom:.05rem;
      img{width:100%;}
    }
  }

  &.col2{overflow:hidden;zoom:1;
    .title{display:block;width:2.03rem;margin:.06rem auto .17rem;}
    .li{width: 49.315%;float:left;margin-bottom:.05rem;
      &:nth-of-type(2n){float:right;}
      img{width:100%;height:1.8rem;border-radius:2px 2px 0 0;display:block;}
      div{padding:.05rem .08rem .1rem;border-radius:0 0 2px 2px;}
    }
  }

}




  
    






